# ===============================
# データベース接続設定（DBコンテナ専用）
# ===============================

# 1. データベースの基本情報
MYSQL_DATABASE=
MYSQL_USER=

# 2. パスワード設定（機密情報）
# ＊本番環境では必ず１２文字以上の複雑な文字列に変更してください
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=


# ===============================
# FLYWAY接続設定
# ===============================

FLYWAY_USER=
FLYWAY_PASSWORD=


# ===============================
# Springの設定（バックエンドコンテナ専用）
# ===============================

# 1. DBとの接続設定（機密情報）
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


# ===============================
# Next.jsの設定（フロントエンドコンテナ専用）
# ===============================

# 1. Springとの接続設定
# 配置場所・配置ファイル：frontend/.env.local
NEXT_PUBLIC_API_URL=
